
/* 
body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
} */
/* src/content.css */

/* @import '~antd/dist/antd.css'; */


#fairynote-two-root {
    visibility: visible;
    width: 550px;
    height: 100%;
    position: fixed;
    top: 0px;
    right: -20px;
    z-index: 3999;
    background: #eee;
    box-shadow: none;
    overflow: hidden;
    opacity: 0;
    transition: all 0.25s ease-in;
}

#fairynote-two-root.hide {
    visibility: hidden;
}

#fairynote-two-root.show {
    right: 0px;
    display: block;
    opacity: 1;
    box-shadow: 0px 0px 8px 1px #0000009e;
    transition: all 0.25s ease-out;
}

#fairynote-two-root iframe {
    width: 100%;
    height: 100%;
    border: none;
}

#fairynote-two-frame {
    width: 100%;
    height: 100%;
}

#fairynote-two-loading.show {
    opacity: 1;
    transition: all 0.3s ease-in;
}

#fairynote-two-loading {
    width: 100%;
    height: 100%;
    z-index: 4200;
    position: absolute;
    background: #eee;
    box-shadow: none;
    opacity: 0;
    transition: all 0.3s ease-in;
}

#fairynote-two-loading-spin {
    width: intrinsic;
    /* Safari/WebKit uses a non-standard name */
    width: -moz-max-content;
    /* Firefox/Gecko */
    width: -webkit-max-content;
    /* Chrome */
    width: fit-content;
    height: 300px;
    margin: auto;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    position: absolute;
}

.ant-drawer-left {
    left: auto !important;
}

.ant-modal-mask {
    z-index: 4900 !important;
}

.ant-modal-wrap {
    z-index: 5000 !important;
}

.ant-message {
    z-index: 5500 !important;
}

.ant-select-dropdown {
    z-index: 5510 !important;
}

.ant-timeline-item-head {
    border-radius: 0.5em;
}

.extension-bar-markup {
    height: 1em;
    top: -25px;
    width: 100%;
    position: absolute;
    color: #efefef;
    background: rgba(0,0,0,0.5);
    z-index: 5000;
}

.extension-bar-markup:hover {
    cursor: pointer;
}

[draggable] {
-moz-user-select: none;
-khtml-user-select: none;
-webkit-user-select: none;
user-select: none;
/* Required to make elements draggable in old WebKit */
-khtml-user-drag: element;
-webkit-user-drag: element;
}


[dir] .ant-modal {
    margin: 0 auto;
    padding-bottom: 24px;
}

[dir] .ant-modal-header {
    padding: 16px 24px;
}

[dir] .ant-modal-header {
    padding: 16px 24px;
    border-bottom: 1px solid #f0f0f0;
    border-radius: 2px 2px 0 0;
}
[dir]  .ant-modal-body {
    padding: 24px;
}
[dir]   .ant-modal-footer {
    padding: 10px 16px;
    border-top: 1px solid #f0f0f0;
    border-radius: 0 0 2px 2px;
}
[dir]  .ant-modal-footer button + button {
    margin-bottom: 0;
    margin-left: 8px;
}
[dir] .ant-btn > .anticon + span,
[dir] .ant-btn > span + .anticon {
  margin-left: 8px;
}

[dir] .ant-btn {
    background-image: none;
    border: 1px solid transparent;
    padding: 4px 15px;
    border-radius: 2px;
    color: rgba(0, 0, 0, 0.85);
    background: #fff;
    border-color: #d9d9d9;
  }

[dir]  .ant-btn-primary {
    color: #fff;
    background: #1890ff;
    border-color: #1890ff;
}


[dir]  .ant-message-notice {
    padding: 8px;
}
[dir] .ant-message-notice-content {
    padding: 10px 16px;
    background: #fff;
    border-radius: 2px;
}

[dir] .ant-message .anticon {
    margin-right: 8px;
}
[dir] .ant-message-rtl .anticon {
    margin-right: 0;
    margin-left: 8px;
}